
body {
	background-image:url('../materiale/colonna/sfondi/a.png');

}

#littlemonster a{
	display:block;
	width:200px;
	height:200px;
	position:absolute;
	right:0;
	top:0;
}

#punto_di_domanda a{
	/*background-color:green;*/
	width:200px;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;
}


.freccia a{
	position:absolute;
	display:block;
	width:200px;
	height:200px;
	left:412px;
}

#freccia_su a{
	top:0px;
}

#freccia_giu a{
	bottom:0px;
}

#animazione {
	background-repeat:no-repeat;
	margin-top:256px;
	display:block;
	width:1024px;
	height:256px;
	background-image:url('../materiale/a-parole/a-i/tantaint/full.png');
	background-position:0 0;
}

/* -------vocabolario--------- */

#vocabolario{
	position:absolute;
	background-color:rgba(0,0,0,0.4);
	display:block;
	width:1024px;
	height:768px;
	top:0;
	left:0;
	display:none;
}
#vocabolario h1{
	margin-top:0;
}

#container-vocabolario{
	width:500px;
	height:500px;
	background-color:rgba(120,120,120,1);
	position:absolute;
	top:200px;
	left:200px;
}

.parola_voc {
	position:absolute;
	top:0px;
	left:0px;
}
#parola2{
	left:250px;
}

#dati {
	display:none;
}